
backend/Crab_API/obj/Debug/net8.0/Crab_API.assets.cache
backend/Crab_API/obj/Debug/net8.0/Crab_API.csproj.CoreCompileInputs.cache
backend/Crab_API/obj/Debug/net8.0/ref/Crab_API.dll
backend/Crab_API/obj/Debug/net8.0/refint/Crab_API.dll
backend/Crab_API/obj/Debug/net8.0/Crab_API.sourcelink.json
backend/Crab_API/obj/Debug/net8.0/Crab_API.MvcApplicationPartsAssemblyInfo.cs
backend/Crab_API/obj/Debug/net8.0/Crab_API.pdb
backend/Crab_API/obj/Debug/net8.0/Crab_API.dll
backend/Crab_API/obj/Debug/net8.0/Crab_API.csproj.FileListAbsolute.txt
backend/Crab_API/obj/Debug/net8.0/Crab_API.csproj.FileListAbsolute.txt
backend/Crab_API/obj/Debug/net8.0/Crab_API.csproj.CoreCompileInputs.cache
backend/Crab_API/obj/Debug/net8.0/Crab_API.assets.cache
backend/Crab_API/obj/Debug/net8.0/apphost.exe
backend/Crab_API/obj/Crab_API.csproj.nuget.g.props
backend/Crab_API/obj/Crab_API.csproj.nuget.dgspec.json
backend/Crab_API/bin/Debug/net8.0/Crab_API.pdb
backend/Crab_API/bin/Debug/net8.0/Crab_API.exe
backend/Crab_API/bin/Debug/net8.0/Crab_API.dll
backend/Crab_API/obj/Debug/net8.0/Crab_API.dll
